:root {
    --title-color: red;
    --writing-color: white;
    --email-color: aqua;
    --hover-color: burlywood;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: auto;
}

/* #region header  */
#site_header {
    text-align: center;
    padding: 2.5rem;
}

#site_header>h1 {
    color: var(--title-color);
    padding-bottom: 1rem;
    font-family: 'Lobster', cursive;
    font-size: 3rem;
}

#site_header>p {
    font-family: 'Source Serif Pro', serif;
}

/* #endregion header  */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col_3 {
    width: calc(100% / 3);
    float: left;
    margin-bottom: 4rem;
    padding: 1rem;
}

img {
    max-height: 100%;
    float: left;
    margin-right: 1rem;
}

.profile {
    height: 120px;
    background-color: black;
    box-shadow: 0rem 0rem 0.25rem 0.25rem grey;
}

.info {
    margin-left: 3rem;
    padding: 1rem;
}

.name  {
    margin-bottom: 0.75rem;
    color: var(--writing-color);
    font-family: 'Oswald', sans-serif;
}

.work_position {
    margin-bottom: 0.75rem;
    color: var(--writing-color);
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 1.25rem;
}

a {
    text-decoration: none;
    color: var(--email-color);
}

a:hover {
    color: var(--hover-color);
}

